<div class="margin">

    <h2> Hi there, {{username}}</h2>
    <p>Do you know how drunk you are?</p>

    <div class="title">

        <img class="perfil-bola" src="{{image.[0]}}" alt="profile pic">

    </div>

    <div>

        <br>
        <a href="/profile/{{_id}}/edit-profile"><img src="../../images/icons/edit2.png" alt="Edit drink" class="edit-drink-btn"> Edit your profile</a>

    </div>

    <div class="counter-center">

        <div class="counter-box">
            
            <p class="counter">{{bac}}%</p>

        </div>

    </div>

    <div class="profile-btns">

        <form action="/profile/add-drink" method="GET">
            
            <button type="submit" class="button_plus"></button>
            
        </form>


        <form action="/profile/reset-counter" method="POST">
            <button type="submit" class="reset"> Stop drinking</button>
        </form>

    </div>

    <div class="fav-drinks">

        <h2>Your favorite drinks</h2>

        <div>

            {{#each profile.favorite_drinks}}
                <p>{{name}}</p>
            {{/each}}

        </div>

    </div>

</div>