<h2>Your profile, drunkard!</h2>

<button><a href="/auth/logout">Logout</a></button>

<img src="{{image.[0]}}" alt="profile pic">
<p>Username: {{username}}</p>
<p>Sex: {{sex}}</p>
<p>Age: {{age}}</p>
<p>Weight: {{weight}}</p>
<p>Height: {{height}}</p>


<hr>

<p class="counter">{{bac}}%</p>

<form action="/profile/add-drink" method="GET">
    <button type="submit">ADD DRINKS</button>
</form>

<form action="/profile/reset-counter" method="POST">
    <button type="submir">RESET COUNTER</button>
</form>

<form action="/profile/{{_id}}/edit-profile" method="GET">
    <button type="submit">Edit profile</button>
</form>

<button onclick="deleteUserConfirmation()">Delete profile</button>