<div class="margin">


    <div class="profile-top">

        <div>
            <h2> Hi there, {{capitalize user.username}}</h2>
            <p>Do you know how drunk you are?</p>
        </div>

        <div class="profile-top margin-top">

            <div>
                <img src="../../images/icons/edit2.png" alt="Edit drink" class="edit-drink-btn">
            </div>

            <div>
                <a href="/profile/{{user._id}}/edit-profile">Edit profile</a>
            </div>

        </div>

    </div>


    <div class="title">

        <img class="perfil-bola" src="{{profileImg}}" alt="profile pic">

    </div>

    <div class="counter-center">

        <div class="counter-box">
            
            <p class="counter">{{user.bac}}%</p>

        </div>

        <div class="margin-bottom">
        {{#if user.bac}}
            <p class="displayText">Time remaining until you can legally drive (0.25%) : <span id="remainingTime">{{math user.bac}} hours</span></p>
        {{/if}}
        </div>

    </div>

    <div class="profile-btns">

        <form action="/profile/add-drink" method="GET">
            
            <button type="submit" class="button_plus"></button>
            
        </form>


        <form action="/profile/reset-counter" method="POST">
            <button type="submit" class="reset"> Stop drinking</button>
        </form>

    </div>

    <div class="fav-drinks">

        <h2>Your favorite drinks</h2>

        <div>

            <hr>
            {{#each user.favorite_drinks}}
                <p class="favDrinks">{{capitalize name}} - {{alcohol_content}}%</p>
                <hr>
            {{/each}}

        </div>

    </div>

</div>