
<form action="/profile/add-drink" method="POST">

    <button type="submit" class="btn-nav margin-top margin-bottom"><p>Add</p></button>

    {{#each drinks}}
    
        <div id="{{firstWord name}}">

            <div class="drink-list">

            <div>

                <img src="{{image}}" alt="drink avatar" class="drink-avatar">

            </div>

            <div>

                <h3>{{capitalize name}}</h3>
                <div class="flex-line">
                    <h4>Origin:</h4> <p>{{capitalize origin}}</p>
                </div>
                <div class="flex-line">
                    <h4>Alcohol Content:</h4> <p>{{alcohol_content}}%</p>
                </div>
                
                <div class="flex-line">
                    <h4>Likes:</h4> <p><span id="likeCounter-{{_id}}">{{likes}}</span></p>
                </div>
                <input type="number" min="0" placeholder="Quantity" name="quantity" class="drink-bar">
                <br>

            </div>

        </div>

        <hr>

    {{/each}}

    <button type="submit" class="btn-nav margin-top"><p>Add</p></button>

    {{#if errorMessage}}

        <p class="error">{{errorMessage}}</p>

    {{/if}}

 </form>