<form action="/profile/add-drink" method="POST">
<button type="submit" >Add</button>
{{#each drinks}}
    <div id="{{name}}">
        <h3>Name: {{capitalize name}}</h3>
        <p>Description: {{description}}</p>
        <h4>Origin: {{origin}}</h4>
        <h4>Alcohol Content: {{alcohol_content}}%</h4>
        <h4>Likes: {{likes}}</h4>
        <img src="{{image}}" alt="imagen-birra" width="80px">
        
        <input type="number" min="0" placeholder="Quantity" value="0" name="quantity">
    </div>
    <hr>
{{/each}}
<button type="submit" >Add</button>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}

 </form>