<div class="margin">

    <h2>DRINKS LIST</h2>

    {{#each drinks}}

        <div class="drink-list">

            <div>

                <img src="{{image}}" alt="birra" class="drink-avatar">

                    <img src="/images/like.png" width="30" height="30" class="heart" id="like-{{_id}}" hidden />
                    <img src="/images/nolike.png" width="30" height="30" class="heart" id="nolike-{{_id}}" />

                <form id={{_id}} onsubmit="toggleLike(event)"> 

                    <button type="submit" id="likeBtn-{{_id}}" class="like-btn">Like</button>

                </form>

                <div>   

                    {{#if isOwner}}

                    <div class="owner-btns">

                        <form action="/drinks/{{_id}}/edit-drink" method="GET"></form>

                            <button class="no-background"><a href="/drinks/{{_id}}/edit-drink"><img src="../../images/icons/edit.png" alt="Edit drink" class="edit-drink-btn"></a></button>

                        </form>

                        <form action="/drinks/{{_id}}/delete" method="POST"> 

                            <button type="submit" class="no-background"><img src="../../images/icons/delete.png" alt="Delete drink" class="edit-drink-btn"></button>

                        </form>

                    </div>
                    {{/if}}

                </div>

            </div>

            <div>

                <h3>{{capitalize name}}</h3>
                <h4>Origin:</h4> <p>{{capitalize origin}}</p>
                <h4>Alcohol Content:</h4> <p>{{alcohol_content}}%</p>
                <h4>Likes:</h4> <p><span id="likeCounter-{{_id}}">{{likes}}</span></p>
                <br>

            </div>
            {{!-- {{#if loggedIn}} --}}
            

        </div>
        {{!-- {{/if}} --}}
    <hr />

    {{/each}}


    {{!-- {{#if loggedIn}} --}}
    
    <div class="index-btns top-margin">

      <button class="btn-large btn-text"><a href="/drinks/create-drink">Add Your Drink</a></button>
    
    </div>
    {{!-- {{/if}} --}}

</div>